In [1]:
# print n to 1 backwards
def show(n):
    
    if n == 0:
        return
    print(n)
    show(n-1)

show(3)

3
2
1

In [4]:
# print n to 1 backwards
def show(n):
    
    if n == 0:
        return
    print(n)
    show(n-1)
    print("END")

show(3)

3
2
1
END
END
END

In [6]:
# Factorial of n 

def fact(n):
    
    if n == 0 or n == 1:
        
        return 1
    
    else:
        
        return n * fact(n-1)
    
fact(3)

6

In [ ]:
# sum of n natural numbers
def sum(n):
    
    if n == 0:
        
        return 0
    
    return n + sum(n-1)

sum(5)

15

In [7]:
# sum of n natural numbers
def calc_sum(n):
    
    if n == 0:
        
        return 0
    
    return calc_sum(n-1) + n

sum = calc_sum(5)

print(sum)

15

In [ ]:
# print name N times using recursion

N = 3
def print_name(n):
    
    if n == 0:
        
        return
    
    print("Ashish")
    print_name(n-1)
    
print_name(3)

Ashish
Ashish
Ashish

In [36]:
# print name 321123 using recursion

N = 3
def print_name(n):
    
    if n == 0:
        
        return
    print(n)
    print_name(n-1)
    print(n)

    
print_name(3)

3
2
1
1
2
3

In [12]:
def print_name(count):
    
    if count == N:
        return
    print("Jeshu")
    print_name(count+1)

N = 3
print_name(0)

Jeshu
Jeshu
Jeshu

In [3]:
class Solution:
    # Recursive function to print name count times
    def printName(self, name, count, N):
        # Base case: if count equals N, stop recursion
        if count == N:
            return

        # Print the name
        print(name)

        # Recursive call with incremented count
        self.printName(name, count + 1, N)

if __name__ == "__main__":
    sol = Solution()
    N = 5
    name = "Tej"

    sol.printName(name, 0, N)

Tej
Tej
Tej
Tej
Tej

In [21]:
def oneton(count):
    
    if count == N+1:
        return
        
    print(count)
    
    oneton(count+1)

N = 4
oneton(1)

1
2
3
4

## In function we can you use more than 1 parameters

In [27]:
# print values from 1 to N

def oneton(i,n):
    
    if i > n:
        
        return
    
    print(i,end=" ")
    
    oneton(i+1,n)
    
num = int(input())

oneton(1,num)

1 2 3 4

In [33]:
# print values from n to 1
def oneton(n,i):
    
    if i < n: # 0 < 5 (True)
    
        return
    
    print(n,end=" ")
    
    oneton(n-1,i)
    
num = int(input( )) # 5

oneton(num,0)